/* begin styles for RSS Feed */

.rss-box {
    margin: auto;
    width: 80% ;
  
    background-color: white;
        /* border: 7px solid  ; */
    
}
/* .rss-items {
   margin-top:0px;
   padding:0.5em; 0.5em;
   margin-left:0px;
   color:#c40233 ;
} */
p.rss-title {padding:0.5em;}
.rss-title {
   text-decoration: none;
   font-family:aqua;
   font-size: 25px;
   /* background-color: rgb(3, 3, 54); */
   color: black;
   font-weight:bold;
   margin-left: 13px;
   padding:0em;
   text-align: left;
}
/* Conteudo da noticia */
.rss-item  {
 font-family:aqua;
 font-size: 16;
 font-weight : normal;
 list-style:none;
 padding-bottom:1em;
}
/*  Titulo da noticia */
.rss-item a {
 
   text-decoration : none;
   color: #330066;
   font-size: 25px;
   font-weight:light;
   font-family:aqua;
   }
   
.rss-item a:visited {
   color:black;
}

.rss-date {
   font-size: 85%;
   font-weight : normal;
   color: #110000;
   } 
/* buttons modeled from http://www.wellstyled.com/css-inline-buttons.html */

.pod-play {
  _width:12em;
  margin: 0 0.2em; padding: 0.1em 0; _padding:0;
  
  white-space:nowrap;
  text-decoration: none;
  vertical-align:middle;
  background: #fb6;
  color: black;
  }
.pod-play em {
  _width:1em; _cursor:hand;
  font-style: normal;
  margin:0; padding: 0.1em 0.5em;
  background: white;
  color: #222;
  }
.pod-play span {
  _width:1em; _cursor:hand;
  margin:0; padding: 0.1em 0.5em 0.1em 0.3em;
  }
.pod-play:hover {
  background: #666;
  color: white;
  }
.pod-play:hover em {
  background: black;
  color: white
  }

  #cv{
   width: 150px;
    height: 150px;
    float:left;
  }

  #textoinstalacao{
    width: 300px;
    text-align: center;
  }
  #instalacao{
    width: 300px;
    

  }
  @font-face {
    font-family: aqua;
    src: url(../css/fontes/ClambakeOctoberSixRegular.otf);
    src: url(../css/fontes/ClambakeOctoberSixBold-Italic.otf);
    src: url(../css/fontes/ClambakeOctoberSixLight.otf);
    src: url(../css/fontes/ClambakeOctoberSixLight-Italic.otf);
    src: url(../css/fontes/ClambakeOctoberSixRegular-Italic.otf);
  
  
  }